<h1>See 11.28 for the details</h1>
<%= form_for @bookmark do |f| %>
  <div class="field">
    <%= f.text_field :URL %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>



